// Font Faces
@font-face {
  font-family: 'Archivo Black';
  src: url('../assets/fonts/Archivo_Black/ArchivoBlack-Regular.woff2') format('woff2'),
       url('../assets/fonts/Archivo_Black/ArchivoBlack-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne/Syne-Regular.woff2') format('woff2'),
       url('../assets/fonts/Syne/Syne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne/Syne-Bold.woff2') format('woff2'),
       url('../assets/fonts/Syne/Syne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne/Syne-ExtraBold.woff2') format('woff2'),
       url('../assets/fonts/Syne/Syne-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

